.form-item {
  &.has-validation {
    .form-control {
      border-color: #dc3545;

      &:hover,
      &:focus {
        border-color: #dc3545;
      }
    }

    .error-message {
      margin-top: 4px;
      text-align: left;
      color: #dc3545;
    }
  }
}
